body{
    background-color: white;
}
.content_images{
    padding-left: 100px;
}
.content_text{
    padding-right: 50px;
}
.font1{
    font-size: 22px;
}
.font2{
    font-style: normal;
    font-size: 12px;
    line-height:26px;
}
.font3{
    font-size: 18px;
}