html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
/* .swiper_div{
    padding-top: 48px;
} */
  .swiper-container {
    width: 70%;
    height: 500px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }